html {
   font-size: 16px;
   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
}

/* General styling */

h1, h2, h3, h4, h5 {
   color: #333;
}

h1 {
   font-size: 3.157rem;
   margin: 2rem 0;
}

h2 {
   font-size: 2.369rem;
   margin: 1.6rem 0;
}

h3 {
   font-size: 1.777rem;
   margin: 1.3rem 0;
}

h4 {
   font-size: 1.333rem;
   margin: 1.1rem 0;
}

h5 {
   font-size: 1.333rem;
   font-weight: 200;
   margin: 1.1rem 0;
}

p {
   line-height: 1.6;
}

em {
   font-weight: 500;
   font-style: italic;
}

li {
   line-height: 1.6;
}

body {
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
   overflow-x: hidden;
   min-height: 100vh;
}

.content-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 3.75rem .625rem;
   margin: 3.75rem auto;

   &__single {
      padding: 3.75rem .625rem;
   }

   @mixin atLarge {
      max-width: 62.5rem;

      &__single {
         flex-direction: row;
         max-width: 62.5rem;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
      }

      &__inner {
         display: flex;
         flex-direction: row;
         justify-content: center;
         width: 100%;
         margin-bottom: 1rem;
      }
   }
}

.x-padding {
   @mixin atSmall {
      max-width: 50rem;
      padding: 0 3rem;
   }
}

img {
   width: 100%;
   max-width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
}

.btn {
   position: relative;
   display: inline-block;
   background-color: #0081A2;
   color: #fff;
   text-decoration: none;
   padding: .8rem 1.8rem;
   border-radius: 1.5rem;
   text-transform: uppercase;
   font-weight: 500;
   text-align: center;
   letter-spacing: 1px;
   border: none;
   transition: all .3s;
   font-size: 1rem;

   @mixin atSmall {
      max-width: 20rem;
      
      &:hover {
         background-color: #00ccff;
         color: #333;
      }
   }

   &__inverted {
      background-color: #fff;
      text-shadow: none;
      color: #333;
      font-weight: 500;

      @mixin atMedium {
         &:hover {
            background-color: #00ccff;
         }
      }
   }

   &--shadow {
      box-shadow: 0px 0px 2px 2px #0085a7;
   }

   & i {
      margin-left: 2rem;
   }
}

.top-m--1x {
   margin-top: 1rem;
}
.top-m--2x {
   margin-top: 2rem;
}
.top-m--3x {
   margin-top: 3rem;
}
.top-m--4x {
   margin-top: 4rem;
}

.btm-m--1x {
   margin-bottom: 1rem;
}
.btm-m--2x {
   margin-bottom: 2rem;
}
.btm-m--3x {
   margin-bottom: 3rem;
}
.btm-m--4x {
   margin-bottom: 4rem;
}

.fill-up {
   min-height: 80vh;
}