:root {
   font-size: 16px;
}

* {
   box-sizing: border-box;
}

/* General styling */

h1 {
   font-size: 2.369rem;
}

h2 {
   font-size: 1.777rem;
}

h3 {
   font-size: 1.333rem;
}

body {
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
   overflow-x: hidden;
}

img {
   width: 100%;
   max-width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
}

.btn {
   position: relative;
   display: block;
   background-color: #00ccff;
   color: #fff;
   text-decoration: none;
   text-shadow: .03125rem .03125rem .0625rem #000;
   padding: 1rem 3rem;
   border-radius: 1.5rem;
   margin-top: 2rem;
   text-transform: uppercase;
   font-weight: 700;
   text-align: center;
}

.btn i {
   position: absolute;
   right: 5rem;
}

.btm-m-1x {
   margin-bottom: 1rem;
}
.btm-m-2x {
   margin-bottom: 2rem;
}
.btm-m-3x {
   margin-bottom: 3rem;
}
.btm-m-4x {
   margin-bottom: 4rem;
}