html {
   font-size: 16px;
   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
}

/* General styling */

h1 {
   font-size: 3.157rem;
   margin: 2rem 0;
}

h2 {
   font-size: 2.369rem;
   margin: 1.6rem 0;
}

h3 {
   font-size: 1.777rem;
   margin: 1.3rem 0;
}

h4 {
   font-size: 1.333rem;
   margin: 1.1rem 0;
}

h5 {
   font-size: 1.333rem;
   font-weight: 200;
   margin: 1.1rem 0;
}

body {
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
   overflow-x: hidden;
}

img {
   width: 100%;
   max-width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
}

.btn {
   position: relative;
   display: inline-block;
   background-color: #00ccff;
   color: #fff;
   text-decoration: none;
   text-shadow: .03125rem .03125rem .0625rem #000;
   padding: .8rem 1.8rem;
   border-radius: 1.5rem;
   text-transform: uppercase;
   font-weight: 700;
   text-align: center;
   letter-spacing: 1px;

   &__inverted {
      background-color: #fff;
      text-shadow: none;
      color: #333;
      font-weight: 500;
   }

   &--shadow {
      box-shadow: 0px 0px 2px 2px #0085a7;
   }

   & i {
      margin-left: 2rem;
   }
}

.btm-m--1x {
   margin-bottom: 1rem;
}
.btm-m--2x {
   margin-bottom: 2rem;
}
.btm-m--3x {
   margin-bottom: 3rem;
}
.btm-m--4x {
   margin-bottom: 4rem;
}