.article {
   display: flex;
   flex-direction: column;
   margin: 3.75rem 0 0;
   padding: 0;

   &__main-image {
      display: block;
      margin: 0;
      padding: 0;

      &__main-image img {
         object-fit: cover;
      }
   }

   &__container {
      display: flex;
      flex-direction: column;
      margin: 0 .625rem 0;
      justify-content: center;
   }

   &__ingress {
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.4;
      color: #444;
      margin-top: 0;
   }

   &__desc {
      line-height: 1.4;
      margin-bottom: 2rem;
   }
}