.article {
   display: flex;
   flex-direction: column;
   margin: 3.75rem 0 0;
   padding: 0;

   &__main-image {
      display: block;
      margin: 0;
      padding: 0;

      &__main-image img {
         object-fit: cover;
      }
   }

   &__container {
      margin: 0 .625rem 0;
   }

   &__title {
      color: #333;
   }
}