.courses-section {
   display: flex;
   flex-direction: column;
   margin: -3rem .625rem 0;
   padding: 0;
}

.course {
   margin-bottom: 3rem;
   padding: 0;
   background-color: #fff;
   border-radius: 8px 8px 0px 0px;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, .35);
   scroll-snap-align: start;
   
   &__image {
      display: block;
      margin: 0;
      border-radius: 8px 8px 0px 0px;

      & img {
         border-radius: 8px 8px 0px 0px;
         height: 300px;
         object-fit: cover;
      }
   }
   
   &__desc {
      padding: 0 .625rem .625rem;
   }

   &__title {
      position: relative;
      margin-bottom: 1.6rem;
   }

   &__title::after {
      position: absolute;
      content: '';
      background-color: rgba(0, 204, 255, .9);
      bottom: -.75rem;
      left: 0;
      width: 4rem;
      height: .5rem;
   }

   &__title a {
      text-decoration: none;
      color: #333;
   }

   &__title h3 {
      font-weight: 500;
   }

   &__details {
      line-height: 1.6;
      font-weight: 300;
   }
}