.courses-section {
   display: flex;
   flex-direction: column;
   margin: -3rem .625rem 0;
   padding: 0;

   @mixin atMedium {
      max-width: 62.5rem;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -3rem auto 3rem;
   }
}

.course {
   margin-bottom: 3rem;
   padding: 0;
   background-color: #fff;
   border-radius: 8px 8px 0px 0px;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, .35);
   scroll-snap-align: start;
   
   &__image {
      display: block;
      margin: 0;
      border-radius: 8px 8px 0px 0px;
      overflow: hidden;

      &:hover img {
         transform: scale(1.1) rotate(3deg);
      }

      @mixin atSmall {
         max-height: 37.5rem;
      }

      @mixin atMedium {
         max-height: 50rem;
      }

      & img {
         border-radius: 8px 8px 0px 0px;
         object-fit: cover;
         transition: all .3s;
      }
   }
   
   &__desc {
      padding: 0 1rem .625rem;
   }

   &__title {
      display: inline-block;
      position: relative;
   }

   &__title::after {
      position: absolute;
      content: '';
      background-color: rgba(0, 204, 255, .9);
      bottom: 0;
      left: 0;
      width: 4rem;
      height: .5rem;
      transition: width .3s;
   }

   &__title:hover&__title::after {
      width: 100%;
   }

   &__title a {
      text-decoration: none;
      color: #333;
   }

   &__title h3 {
      font-weight: 500;
      margin: .5rem 0 .75rem;
   }

   &__details {
      line-height: 1.6;
      font-weight: 300;
   }

   @mixin atMedium {
      display: flex;
      flex-direction: column;
      flex-basis: 47%;
      margin: 0 auto 2rem;
   }
}