.header {
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   height: 3.75rem;
   background-color: #00ccff;
   box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .35);
   z-index: 9;
}

.logo {
   margin: 1rem auto;
   width: 128px;
   z-index: 10;
}

.menu-icon {
   position: absolute;
   top: 1rem;
   right: 1rem;
   cursor: pointer;
   z-index: 10;
   width: 2.2rem;
   height: 1.275rem;

   &::before {
      content: '';
      position: absolute;
      width: 2.2rem;
      height: .205rem;
      border-radius: .2rem;
      background-color: #2c2c2c;
      top: 0;
      right: 0;
      transition: all .3s;
   }

   &__centerline {
      position: absolute;
      width: 1.8rem;
      height: .2rem;
      border-radius: .2rem;
      background-color: #2c2c2c;
      top: .55rem;
      right: 0;
      opacity: 1;
      transition: all .3s;
   }      

   &::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: .2rem;
      border-radius: .2rem;
      background-color: #2c2c2c;
      bottom: 0;
      right: 0;
      transition: all .3s;
   }

   &--close-x {
      &::before {
         transform: rotate(-405deg) translate(-6px, 6px);
         width: 2rem;
      }

      .menu-icon__centerline {
         opacity: 0;
      }

      &::after {
         transform: rotate(405deg) translate(-6px, -6px);
         width: 2rem;
      }
   }

   @mixin atMedium {
      display: none;
   }
}

.navigation {
   position: absolute;
   top: 0;
   left: 100%;
   width: 100%;
   height: 100vh;
   background-color: rgba(255, 255, 255, .94);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   transition: left .5s;

   &--is-visible {
      left: 0;
      z-index: 9;
   }
}

.navigation-list {
   list-style: none;
   text-transform: uppercase;
   text-align: center;
   margin: 8rem 0;
   padding: 0;
}

.navigation-item {
   margin-bottom: 2rem;

   & a {
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: #333;
   }
}